<% layout('layouts/boilerplate')%>

    <form action="/pedidos" method="POST" class="validated-form mb-3 row">
        <h1 class="text-center">Novo pedido</h1>
        <div class="col-lg-6 ">
            <h2 class="text-center">Cliente</h2>



            <div class="d-flex justify-content-evenly p-3">

                <input type="radio" class="btn-check" name="entrega" id="balcao" autocomplete="off" value="balcão"
                    required>
                <label class="btn btn-outline-success btn-lg" for="balcao">Balcão</label>
                <input type="radio" class="btn-check delivery" name="entrega" id="delivery" autocomplete="off"
                    value="delivery">
                <label class="btn btn-outline-info btn-lg" for="delivery">Delivery</label>
                <input type="radio" class="btn-check delivery" name="entrega" id="ifood" autocomplete="off"
                    value="ifood">
                <label class="btn btn-outline-danger btn-lg" for="ifood">Ifood</label>
            </div>



            <div class="mb-3">

                <label for="q">Cliente</label>
                <input class="form-control dropdown mt-1" type="text" id="q" name="cliente[nome]"
                    placeholder="Telefone ou nome" autofocus>
                <ul class="dropdown-menu " aria-labelledby="dropdownMenu2">
                </ul>

            </div>
            <div class="contato-info d-none">


                <div class="input-group mb-3 ">

                    <span class="input-group-text">Telefone</span>
                    <input class="form-control" disabled type="text" id="telefone" name="cliente[telefone]"
                        placeholder="Apenas numeros, com ddd" style="width: 50%;">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Endereço</span>
                    <input class="form-control" disabled type="text" id="endereco" name="cliente[endereco]"
                        placeholder="Completo, com ponto de referencia">

                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Frete</span>
                    <span class="input-group-text">R$</span>
                    <input class="form-control" step="0.01" disabled type="number" id="frete" name="cliente[frete]"
                        placeholder="Preço frete">
                </div>
                <input type="hidden" id="id" name="cliente[_id]" disabled>

            </div>
            <h2 class="text-center">Pagamento</h2>
            <div class="d-flex justify-content-evenly my-4">
                <div class="d-flex flex-column">
                    <input type="radio" class="btn-check" name="pagamento[metodo]" id="dinheiro" value="dinheiro">
                    <label class="btn btn-outline-success " for="dinheiro">Dinheiro</label>

                    <button class="btn btn-outline-success btn-sm mt-1 d-none" id="troco" type="button">Troco</button>

                    <div class="input-group mb-3 d-none mt-1">
                        <!-- <span class="input-group-text">R$</span> -->
                        <input type="number" step="0.01" min="1" max="200" disabled name="pagamento[trocopara]"
                            class="mt-1 form-control" id="trocopara" placeholder="Troco para">
                    </div>


                </div>

                <div>
                    <input type="radio" class="btn-check" name="pagamento[metodo]" id="pix" autocomplete="off"
                        value="pix">
                    <label class="btn btn-outline-info " for="pix">Pix</label>
                </div>
                <div>
                    <input type="radio" class="btn-check" name="pagamento[metodo]" id="cartao" autocomplete="off"
                        value="cartão">
                    <label class="btn btn-outline-danger " for="cartao">Cartão</label>
                </div>
                <div>
                    <input type="radio" class="btn-check" name="pagamento[metodo]" id="pendente" autocomplete="off"
                        value="" checked>
                    <label class="btn btn-outline-secondary " for="pendente">Em aberto</label>
                </div>


            </div>

        </div>
        <div class="col-lg-6 ">
            <h2 class="text-center">Pedido</h2>

            <div class="d-flex flex-wrap justify-content-evenly itens mb-3">
                <button type="button" id="m_p" class="btn btn btn-primary mb-2">Marmita P</button>
                <button type="button" id="m_m" class="btn btn btn-primary mb-2">Marmita M</button>
                <button type="button" id="m_g" class="btn btn btn-primary mb-2">Marmita G</button>
                <button type="button" id="buf" class="btn btn btn-primary mb-2">Buffet</button>
                <button type="button" id="m_o" class="btn btn btn-primary mb-2">Outro</button>
            </div>


            <div class="pedidos mb-3">

            </div>



        </div>



        <div class="d-flex justify-content-evenly mb-2">
            <button id="fechar" disabled class="btn btn-lg btn-primary ">Fechar Pedido</button>
        </div>
    </form>

    <script src="/script/novoPedido.js"></script>
