.balcão {
    color: #198754;
}

.delivery {
    color: #dc3545
}
.ifood {
    color: #df0a1f
}

.cartão {
    color: #820AD1;
}

.dinheiro {
    color: green;
}

.pix {
    color: #37b4aa;
}